# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production build
/build

# Miscellaneous
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment files
.env*.local

# Vercel deployment
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Ignore any files related to IDE/editor configurations
.idea/
.vscode/

# Log files
*.log

# Mac specific
Thumbs.db
Desktop.ini
